/** Add any CSS you need to this file. */
*
{
  margin:0 auto;
  padding:0;
}
body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  margin: 0px auto;  
  width:1300px;
  justify-content: center;
 
}
#menu-top
{
  background: white;
  height: 100px;  
  text-align: center;
  
}
#banner
{
  height: auto;
  width: 100%;
}


#footer
{
  background: white;
  text-align: center;
  height: auto;
  color: black;
  clear: left;
  font-size:1.2rem;
}
#footer #icons-container i
{
  padding: 5px;
}
#footer #icons-container i:hover
{
  color:#A4A4A4
}
#footer ul
{
  margin: 0;
  padding: 0;
  text-align: center;
  display:inline-block;
  grid-template-columns: 1fr 0px;
}
#footer ul li
{
  list-style: none;
  float: left;  
}
#footer ul li a
{
  text-decoration: none;
  display:inline-block;
  color: #A4A4A4;
  height: auto;
  line-height: auto;
  padding: 30px 10px 30px 10px;
  margin: 0;
  
}
#footer ul li a:hover
{
  color:#2E2E2E;
}
#footer button
{
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: auto;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: auto;
  list-style: none;
  text-align: center center;
  padding: 15px 15px 15px 15px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}
#footer #email
{
  padding: 15px;  
}
#footer p
{
  margin: 17px 0px 17px 0px;
}
#footer-bottom
{
  text-align:center;
  background-color: grey;
  color: #ffffff;
  height: auto;
  clear:both;
  width:1300px;
}

#menu-top #top-container
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.5rem;  
  color: black;
  text-align: center;
  margin:0;
  padding: 50px 0px 15px 0px;   
  display: block;
}
#menu-top ul
{
  text-align: center;
}
#menu-top> ul> li
{
  list-style: none;  
  display: inline-block;  
}
#menu-top> ul> li>a
{
  text-decoration: none;  
  color: #A4A4A4;
  height: auto;
  line-height: auto;
  padding: 0px 10px 0px 10px;
  margin: 0;  
}
#menu-top> ul> li>a:hover
{
  color: #2E2E2E;
}



#main #left button
{
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: auto;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: auto;
  list-style: none;
  text-align: center;
  padding: 20px 34px;;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
}
#main #right button
{
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: auto;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: auto;
  list-style: none;
  text-align: center;
  padding: 20px 34px;;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
}
#main-centre
{
  width:1300px;
  height:auto;
  text-align:center;
}
#main-centre #main #left
{
  margin:25px;
  width:600px;
  float:left;
}
#main-centre #main #right
{
  margin:25px;
  width:600px;
  float:left;
}
#bag
{
  width:1300px;
  height:auto;
  text-align:center;
}
#mission #middle button
{
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: auto;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: auto;
  list-style: none;
  text-align: center;
  padding: 20px 34px;;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer; 
}

#main-bottom
{
  clear:left;
  padding: 17px 17px 17px 17px;
  text-align: center;
}
#main-bottom>#main-bottom1
{
  margin: 20px 0px 20px 0px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
#main-bottom>#main-bottom2
{
  margin: 20px 0px 20px 0px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
#main-bottom-button
{
  text-align: center;
}
#main-bottom-button button
{
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: auto;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: auto;
  list-style: none;
  text-align: center;
  padding: 20px 34px;;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
}

#Wellcome #store
{
  text-align: center;
  color: black;
  height: auto;
  line-height: auto;
  padding: 50px 10px 10px 10px;
  margin: 0;
}
#Wellcome h2
{
  text-align: center;
  color: #2E2E2E;
  height: auto;
  font-size: 12px;
  line-height: auto;
  padding: 0px 10px 50px 10px;
  margin: 0;
  letter-spacing: 1px;
}
#clients 
{
    background: #f8f9fd;
    display: block;
    align-items: center;
    height: 165px;
    
    text-align: center;
     
}
#clients ul
{
  text-align: center;
  display: inline-block;
}
#clients ul li
{
  list-style: none;
  text-align: center;
  margin: 50px; 
}





/*MEDIA QUERIES*/
@media (max-width:1024px)
{
  body
  {
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  z-index: 10;
  padding-left: 30px;
  padding-right: 30px;
  }  
  

}
@media (max-width:768px)
{
  body
  {
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  }
  #menu-top ul
  {
    display:grid;
    grid-template-columns: 1fr;
    position: relative;
    line-height: 18px;
  }
  #menu-top> ul> li
  {
    display:block;
    padding: auto;
    border-bottom: 1px dotted #ccc;
  }
  

@media(max-width:500px)
{
  body
  {
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  margin: 0px 0px;  
  }
  #menu-top ul
  {
    display:grid;
    grid-template-columns: 1fr;
    position: relative;
    line-height: 18px;
  }
  #menu-top> ul> li
  {
    display:block;
    padding: auto;
    border-bottom: 1px dotted #ccc;
  }
  #wellcome{clear:both;}
 

}
